.App{
  padding: 2rem;
  background-color: rgb(121, 208, 203);
}

#editor-container{
  width: 40%;
  margin: 0px auto;
}

#editor{
  width: 100%;
}

#preview{
  width: 60%;
  border: 1px solid black;
  margin: 1rem auto;
  padding: 1rem;
  background-color: rgb(217, 255, 245);
}